html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    width: 100%;
    height: 45px;
    background-color: #0052aa;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow-y: auto; /* Allow main content to scroll */
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
}

.grid-container-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.grid-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    overflow-y: visible; /* Allow content to overflow */
    
}

.grid-item {
    background-color: #0052aa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

footer {
    text-align: center;
    width: 100%;
    height: 45px;
    padding: 20px;
    background-color: #f3f3f3;
    color: black;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin-bottom: 20px;
}

.back-button {
    margin-top: 10px;
    background-color: #00aa03;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0052aa;
}

.subclass-button, .guideline-button {
    background-color: #0052aa;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin: 8px;
    transition: transform 0.3s ease-in-out;
}

.accordion {
    background-color: #0052aa;
    color: white;
    cursor: pointer;
    padding: 12px 25px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin: 8px 0;
}

.accordion:hover, .accordion.active {
    background-color: #004080;
}

.active {
    background-color: #ccc;
}

.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

.drug-menu-item {
    padding: 10px;
    background-color: #e8e8e8;
    color: black;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-top: 2px;
    border-radius: 5px;

}

.drug-menu-item:hover {
    background-color: #d0d0d0;
}

.drug-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    overflow: hidden;
}


/* .drug-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
} */



.drug-attributes p {
    margin: 10px 0;
}

.drug-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2 3px 6px rgba(0,0,0,0.1);
    width: 100%;
    overflow: hidden;
}


.pie-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}



.header-container, 
main, 
footer, 
.grid-container, 
.grid-container-centered, 
.grid-container-vertical {
    width: 100vw; /* Ensure elements take full viewport width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}


@media (max-height: 720px) {
    main {
        justify-content: center;
    }
    .grid-container {
        gap: 10px;
    }
    .grid-item {
        padding: 15px;
    }

    header {
        padding: 10px; /* Reduce padding to half */
        font-size: 0.8em; /* Adjust font size if needed */
    }

    footer {
        padding: 10px; /* Reduce padding to half */
        font-size: 0.8em; /* Adjust font size if needed */
    }
}
