html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
    background-color: #f9f9f9;
}

body {
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, #0052aa, #003f7f);
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(90deg, #f3f3f3, #d0d0d0);
    color: black;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    margin-top: 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
    min-height: 45px;
}

footer p {
    margin: 0;
    line-height: 1.2;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    background: #ffffff;
    margin-top: 0;
}

.grid-container, .grid-container-centered, .grid-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    overflow-y: visible;
    margin-top: 0;
}

.grid-item, .subclass-button, .guideline-button {
    background-color: #0052aa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 10px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item:hover, .subclass-button:hover, .guideline-button:hover {
    transform: scale(1.05);
    background-color: #003f7f;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.subclass-button, .guideline-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.subclass-button::after, .guideline-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.subclass-button:hover::after, .guideline-button:hover::after {
    width: 300%;
    height: 300%;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1001;
}

.back-button {
    background-color: #00aa03;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0052aa;
}

.accordion {
    background-color: #0052aa;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.4s, background-color 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin: 8px 0;
}

.accordion:hover, .accordion.active {
    background-color: #003f7f;
}

.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

.drug-menu-item {
    padding: 10px;
    background-color: #e8e8e8;
    color: black;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-top: 2px;
    border-radius: 5px;
}

.drug-menu-item:hover {
    background-color: #d0d0d0;
}

/* Container for drug details */
/* Adjust the drug-attribute to display each item on its own row */
.drug-attribute {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Ensure it takes up the full width */
    margin-bottom: 5px;
}

.drug-attribute .title {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
    color: #003f7f;
}

.drug-attribute .value {
    flex: 1;
    text-align: left;
}

/* Ensure the sections are displayed correctly */
.section {
    margin-bottom: 15px;
}

.attributes-container {
    display: flex;
    flex-direction: column; /* Ensure all attributes are in a single column */
    gap: 5px;
}

.drug-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    width: 100%;
    max-width: 800px;
    height: auto;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    overflow: auto;
}

.drug-header, .section-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    color: #003f7f;
}

/* Styling for the pie chart and thumbs up/down icons */
.pie-chart {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.thumbs-up, .thumbs-down {
    font-size: 20px;
    display: inline-block;
    margin-left: 5px;
}

.thumbs-up {
    color: green;
}

.thumbs-down {
    color: red;
}

.pie-chart canvas {
    width: 100%; /* Ensure canvas fits the container */
    height: 100%; /* Ensure canvas fits the container */
}
.thumbs-up, .thumbs-down {
    font-size: 22px;
    vertical-align: middle;
}

.thumbs-up {
    color: green;
    margin-bottom:4px;
}

.thumbs-down {
    color: red;
    margin-top:4px;
}

.header-container, 
main, 
footer, 
.grid-container, 
.grid-container-centered, 
grid-container-vertical {
    width: 100%; /* Ensure elements take full viewport width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

@media (max-width: 768px) {
    header {
        height: 60px;
        padding: 10px;
        font-size: 0.8em; /* Adjust font size if needed */
    }
    header h1 {
        font-size: 1.5em; /* Adjust for smaller screens */
    }
    footer {
        height: 40px;
        padding: 10px;
        font-size: 0.8em; /* Adjust font size if needed */
    }
}

@media (max-height: 720px) {
    main {
        justify-content: center;
    }
    .grid-container {
        gap: 10px;
    }
    .grid-item {
        padding: 15px;
    }

    header {
        padding: 10px; /* Reduce padding to half */
        font-size: 0.8em; /* Adjust font size if needed */
    }
    header h1 {
        font-size: 1.5em; /* Adjust for smaller screens */
    }

    footer {
        padding: 10px; /* Reduce padding to half */
        font-size: 0.8em; /* Adjust font size if needed */
    }
    .grid-item, .subclass-button, .guideline-button {
        font-size: 16px;
        padding: 10px 20px;
        width: 150px;
    }

    .accordion {
        font-size: 14px;
        padding: 12px 20px;
    }

    .drug-details {
        padding: 15px;
        margin-bottom: 10px;
    }

    header {
        height: 60px;
        padding: 15px;
        font-size: 18px;
    }

    footer {
        height: 40px;
        padding: 15px;
        font-size: 14px;
    }
}

* {
    box-sizing: border-box;
}
